:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --revers-main-color: #FFFFFF;
}
body {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--main-text-color);
}
/* -------------------------------------hader---------------------------------------- */
.link {text-decoration: none;}
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.logo-accent {
  color: var(--accent-color);
}
.nav-list { list-style-type: none;}
.nav-list .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.nav-list .link:hover,
.nav-list .link:focus {color: var(--accent-color);}

.contact-list {list-style-type: none;}
.contact-list .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color)
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
/* ----------------------------------------------------index----------------------------------------------- */
.btn{cursor: pointer;}
/* ---------------------------------------hero----------------------------------------- */
.hero {
  background-color: #2F303A;
}
.hero > h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--revers-main-color)
}
.hero-btn{ 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/* -------------------------------------advantage-------------------------------------- */
.advantage-list {list-style-type: none;}
.advantage-list > h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantage-list > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* -------------------------------------work------------------------------------------- */
.work{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
/* ---------------------------------------footer--------------------------------------- */
footer {background-color: #2F303A;}
.logo-footer {
  text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--revers-main-color);
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--revers-main-color);
}
.contact-list-footer {list-style-type: none;}
.contact-list-footer .link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contact-list-footer .link:hover,
.contact-list-footer .link:focus {
  color: var(--accent-color);
}